version: 2.1
orbs:
  node: circleci/node@5

jobs:
  Build-and-Tests:
    # Use the node orb's default executor
    executor: node/default
    steps:
      - checkout  # Check out the code from the repository

      # Install Node.js dependencies
      - run:
          name: Install dependencies
          command: npm install

      - run:
          name: Install Chrome & ChromeDriver
          command: |
            sudo apt-get update
            sudo apt-get install -y wget
            wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" > /etc/apt/sources.list.d/google-chrome.list'
            sudo apt-get update
            sudo apt-get install -y google-chrome-stable
            npm install chromedriver --save-dev

      # Start ChromeDriver in the background
      - run:
          name: Start ChromeDriver
          command: |
            npx chromedriver --port=9515 --url-base=wd/hub &
            sleep 5  # Wait for ChromeDriver to start

      # Run UI tests
      - run:
          name: Run UI tests
          command: npm run uiTest || true
          environment:
            CONTINUE_ON_FAIL: true

      # Download wait-for-it.sh
      - run:
          name: Download wait-for-it.sh
          command: |
            curl -o wait-for-it.sh https://raw.githubusercontent.com/vishnubob/wait-for-it/master/wait-for-it.sh
            chmod +x wait-for-it.sh

      # Start the server in the background using nohup
      - run:
          name: Start Local Server
          command: |
            nohup npm run api > server.log 2>&1 &  # Start server in the background
            ./wait-for-it.sh 127.0.0.1:3000 --timeout=30 --strict -- echo "Server is up!"

      # Run API tests
      - run:
          name: Run API tests || true
          command: npm run apiTest
          environment:
            CONTINUE_ON_FAIL: true

workflows:
  version: 2
  build-and-test:
    jobs:
      - Build-and-Tests
